/* IMAGE STYLES [FOR LARGE SCREENS] */

.formpicture img {
    object-fit: cover;
    height: 100%;
    justify-content: left;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
/* FORM STYLES */

h3 {
    color: maroon;
}
.registrationform {
    padding: 2vw;
}

.registrationform button {
    width: 100%;
}

fieldset {
    margin-top: 1vh;
}

legend {
    color: #212529;
    margin-top: 2vh;

}